[Service]
ExecStart=
ExecStart=/usr/bin/dockerd --containerd=/run/containerd/containerd.sock -H tcp://{{ mgmt_ipv4 }}:2375 -H unix:///var/run/docker.sock --cluster-store etcd://{{ site_internal_vip }}:2379
