[Interface]
PrivateKey = {{ wg_private_key | trim }}

{% for peer in wg_peers %}
[Peer]
PublicKey = {{ peer.public_key | trim }}
AllowedIPs = {{ peer.allowed_ips | join(', ') }}
{% if peer.endpoint %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.keepalive | bool %}
PersistentKeepalive = 25
{% endif %}
{% endfor %}
